.board {
    width: 810px;
    height: 810px;
    display: grid;
    margin: 0;
    /*grid-template-columns: auto auto auto auto auto auto auto auto;*/
    grid-template-columns: repeat(8, 1fr);
}
/* .square {
    width: 100px;
    height: 100px;
} */
button {
    width: 100px;
    height: 100px;
    font-weight: 900;
}
button.selected {
    background-color: aqua !important;
}

.square-button.black {
    background-color: blue;
}
button.white {
    background-color: white;
}
button.Black {
    color: blue;
}
button.White {
    color: red;
}
